@model Project1640.Models.Department

@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary(false, "Error Summary", new { @class = "text-danger" })
}

@using (Html.BeginForm("CreateDepartment", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h1>Create Department</h1>

    <div class="form-group form_title">

        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form_title-input", @placeholder = "Title" } })

    </div>

    <div class="form-group form_description">

        @Html.TextAreaFor(m => m.Description, new { @class = "form_description-textarea", @placeholder = "Description", @cols = "10", @rows = "8" })

    </div>

    <br />

    <button type="submit" class="btn btn-add">Submit</button>
}


