@using (Html.BeginForm("Top5Idea", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", _lpchecked = "1" }))
{
<p>Show top @TempData["Number"].ToString() Ideas</p>
    <input type="text" id="count" name="count" placeholder="Number Ideas" value="@TempData["Number"].ToString()">
    <button class="btn btn-primary d-block w-100" type="submit">Confirm</button>
}
