@using (Html.BeginForm("Top5Idea", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", _lpchecked = "1" }))
{
<p>Show top @TempData["Number"].ToString() Ideas</p>
    <input type="text" id="count" name="count" style="width: 14%; border-radius: 20px; border: none; margin-bottom: 10px; padding: 5px;" placeholder="Number Ideas" value="@TempData["Number"].ToString()">
    <button class="btn btn-primary d-block" style="width: 14%; border-radius: 20px; border: none;" type="submit">Confirm</button>
}
