@model IEnumerable<Project1640.Models.Department>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>Category: @Html.DisplayFor(modelItem => item.Name) </p>
                <p>Description: @Html.DisplayFor(modelItem => item.Description) </p>
            </td>
        </tr>
    }

</table>
