@using (Html.BeginForm("Chart", "Manager", FormMethod.Post, new { @class = "form-horizontal", role = "form", _lpchecked = "1" }))
{
    <input type="text" id="year" name="year" placeholder="Input year">
    <button class="btn btn-primary d-block" type="submit">Confirm</button>
}
