@using (Html.BeginForm("Chart", "Manager", FormMethod.Post, new { @class = "form-horizontal", role = "form", _lpchecked = "1" }))
{
    <input type="text" class="form_title-input" style="border-radius: 20px; border: none; margin-bottom: 10px; padding: 5px;" id="year" name="year" placeholder="Input year">
    <button class="btn btn-add" style="border-radius: 20px; border: none;" type="submit">Confirm</button>
}
