@{
    ViewBag.Title = "LogIn";
}

@model Project1640.Models.UserInfo

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Login</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            color: #333;
            font-size: 62.5%;
            font-family: "Open Sans", sans-serif;
            background: linear-gradient(120deg, #3ca7ee, #9b408f);
        }

        .main {
            min-height: 100vh;
            display: flex;
            justify-content: center;
        }

        .form {
            width: 25%;
            min-height: 14%;
            padding: 32px 24px;
            text-align: center;
            background: #fff;
            border-radius: 20px;
            margin: 24px;
            align-self: center;
            box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
        }

            .form .heading {
                font-size: 2rem;
            }

        .form-group {
            display: flex;
            margin-bottom: 16px;
            flex-direction: column;
        }

        .form-label {
            text-align: left;
        }

        .form-label {
            font-weight: 700;
            padding-bottom: 6px;
            line-height: 1.8rem;
            font-size: 1.4rem;
        }

        .form-control {
            height: 40px;
            padding: 8px 12px;
            border: 1px solid #b3b3b3;
            border-radius: 3px;
            outline: none;
            font-size: 1.2rem;
        }


        .form-submit {
            outline: none;
            background-color: #1dbfaf;
            margin-top: 12px;
            padding: 12px 16px;
            font-weight: 600;
            color: #fff;
            border: none;
            width: 100%;
            font-size: 14px;
            border-radius: 8px;
            cursor: pointer;
        }

            .form-submit:hover {
                background-color: #1ac7b6;
            }

        .message ul,
        .message span {
            list-style: none;
            font-style: italic;
            font-size: 1.2rem;
        }
    </style>

    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<body>
    <div class="main">

        @using (Html.BeginForm("LogIn", "Login", FormMethod.Post, new { @class = "form", role = "form", _lpchecked = "1" }))
        {

            <h3 class="heading"> Login </h3>

            <div class="form-group required">

                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "form-label" })

                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })

            </div>

            <div class="form-group required">

                <label class="form-label">Password</label>

                @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control" })

            </div>

            <div class="message">

                @if (!ViewData.ModelState.IsValid)
                {

                    @Html.ValidationSummary(false, "Error Summary", new { @class = "text-danger" });

                }

            </div>

            <button class="form-submit" type="submit"> Login </button>

        }

    </div>

</body>

