
@model Project1640.Models.UserInfo
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Login</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            color: #333;
            font-size: 62.5%;
            font-family: "Open Sans", sans-serif;
            background: linear-gradient(120deg, #3ca7ee, #9b408f);
        }

        .main {
            min-height: 100vh;
            display: flex;
            justify-content: center;
        }

        .form {
            width: 25%;
            min-height: 14%;
            padding: 32px 24px;
            text-align: center;
            background: #fff;
            border-radius: 20px;
            margin: 24px;
            align-self: center;
            box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
        }

            .form .heading {
                font-size: 2rem;
            }

        .form-group {
            display: flex;
            margin-bottom: 16px;
            flex-direction: column;
        }

        .form-label {
            text-align: left;
        }

        .form-label {
            font-weight: 700;
            padding-bottom: 6px;
            line-height: 1.8rem;
            font-size: 1.4rem;
        }

        .form-control {
            height: 40px;
            padding: 8px 12px;
            border: 1px solid #b3b3b3;
            border-radius: 3px;
            outline: none;
            font-size: 1.2rem;
        }


        .form-submit {
            outline: none;
            background-color: #1dbfaf;
            margin-top: 12px;
            padding: 12px 16px;
            font-weight: 600;
            color: #fff;
            border: none;
            width: 100%;
            font-size: 14px;
            border-radius: 8px;
            cursor: pointer;
        }

            .form-submit:hover {
                background-color: #1ac7b6;
            }

        .message ul,
        .message span {
            list-style: none;
            font-style: italic;
            font-size: 1.2rem;
        }
    </style>

    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<body>
    <div class="main">

        @using (Html.BeginForm("RSPConfirm", "Login", FormMethod.Post, new { @class = "form", role = "form", _lpchecked = "1" }))
        {

            <h2 class="visually-hidden">Change Password</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="mb-3 required " style="display: none;"><input class="form-control" type="text" name="id" id="id" value="@TempData["UserId"]" /></div>
            <div class="mb-3 required "><input class="form-control" type="password" placeholder="New password" name="newpass" id="new" /></div>
            <div class="mb-3 required "><input class="form-control" type="password" placeholder="Confirm new password" name="confirmpass" id="confirm" /></div>
            <div class="mb-3 required "><input class="form-control" type="password" placeholder="Email confirmation code" name="verifycode" id="verify" /></div>
            <button class="btn btn-primary d-block w-100" type="submit">Confirm</button>
            <a href="@Url.Action( "LogOut" )">Back to login?</a>

            <div class="message">
                @if (!ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary(false, "Error Summary", new { @class = "text-danger" });
                }
            </div>

        }

    </div>

</body>

        .login-dark form .btn-primary:active {
            transform: translateY(1px);
        }
</style>
