@model Project1640.Models.Comment

@using (Html.BeginForm("CreateComment", "Staff", FormMethod.Post, new { id = TempData["IdeaId"], enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "comment_write-input", @placeholder = "Text your comment..." } })

    <div class="checkbox">
        @Html.CheckBoxFor(model => model.Status) Anonymously
    </div>

    <input type="submit" value="Add Comment" class="btn btn-default btn_add-comment" />

}

