@model Project1640.Models.React
@{
    bool React = true;
    string LikeCount = TempData["LikeCount"].ToString();
}
<h4>React</h4>
@using (Html.BeginForm("Like", "Staff", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-10" style="display: none;">
        @Html.EditorFor(model => model.IdeaId, new { htmlAttributes = new { @class = "form-control", Value = TempData["IdeaId"] } })
    </div>

    {
        if (TempData["LikeStatus"] != null && TempData["LikeStatus"].ToString() == "Like")
        {
            <input type="submit" value="Up" name="like" onclick="@React = true" disabled style="background-color: darkgray;" />
            @LikeCount
            <input type="submit" value="Down" name="like" onclick="@React = false" />
        }
        if (TempData["LikeStatus"] != null && TempData["LikeStatus"].ToString() == "Dislike")
        {
            <input type="submit" value="Up" name="like" onclick="@React = true" />
            @LikeCount
            <input type="submit" value="Down" name="like" onclick="@React = false" disabled style="background-color: darkgray;" />
        }
        if (TempData["LikeStatus"] == null)
        {
            <input type="submit" value="Up" name="like" onclick="@React = true" />
            @LikeCount
            <input type="submit" value="Down" name="like" onclick="@React = false" />
        }
    }

    <div class="col-md-10" style="display: none;">
        @Html.RadioButtonFor(model => model.React_Type, new { htmlAttributes = new { @class = "form-control", Value = @React, style = "display:none;" } })
    </div>
}


