@model Project1640.Models.React
@{
    bool React = true;
    string LikeCount = TempData["LikeCount"].ToString();
}

@using (Html.BeginForm("Like", "Staff", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-10" style="display: none;">
        @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control", Value = "3" } })
    </div>
    <div class="col-md-10" style="display: none;">
        @Html.EditorFor(model => model.IdeaId, new { htmlAttributes = new { @class = "form-control", Value = TempData["IdeaId"] } })
    </div>

    {
        if (TempData["LikeStatus"] != null && TempData["LikeStatus"].ToString() == "Like")
        {
            <div class="react_like">
                <i class="fa-solid fa-thumbs-up"></i>
                <input type="submit" value="Up" name="like" onclick="@React = true" disabled />
            </div>
            @LikeCount
            <div class="react_dislike">
                <i class="fa-solid fa-thumbs-down"></i>
                <input type="submit" value="Down" name="like" onclick="@React = false" />
            </div>
        }
        if (TempData["LikeStatus"] != null && TempData["LikeStatus"].ToString() == "Dislike")
        {
            <div class="react_like">
                <i class="fa-solid fa-thumbs-up"></i>
                <input type="submit" value="Up" name="like" onclick="@React = true" />
            </div>
            @LikeCount
            <div class="react_dislike">
                <i class="fa-solid fa-thumbs-down"></i>
                <input type="submit" value="Down" name="like" onclick=" = false" disabled />
            </div>
        }
        if (TempData["LikeStatus"] == null)
        {

            <div class="react_like">
                <i class="fa-solid fa-thumbs-up"></i>
                <input type="submit" value="Up" name="like" onclick="@React = true" />
            </div>
            @LikeCount
            <div class="react_dislike">
                <i class="fa-solid fa-thumbs-down"></i>
                <input type="submit" value="Down" name="like" onclick="@React = false" />
            </div>
        }
    }

    <div class="col-md-10" style="display: none;">
        @Html.RadioButtonFor(model => model.React_Type, new { htmlAttributes = new { @class = "form-control", Value = @React, style = "display:none;" } })
    </div>
}


