@model IEnumerable<Project1640.Models.Category>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p><b>Category:</b> @Html.DisplayFor(modelItem => item.Name) </p>
                <p><b>Description:</b> @Html.DisplayFor(modelItem => item.Description) </p>
            </td>
        </tr>
    }

</table>
