@model IEnumerable<Project1640.Models.Comment>

<table class="table">
    <h4>Comment</h4>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)  By User: @Html.DisplayFor(modelItem => item.UserId)
            </td>
        </tr>
    }

</table>
